alive-progress
configparser
flask-cors
flask-sqlalchemy
flask
jq
lancedb
langchain-community
langchain-openai
langchain-text-splitters
langchain
nvidia-cudnn-cu12<9
onnx==1.16.1
openpyxl
pi-heif
unstructured-client
unstructured-inference
unstructured-pytesseract
unstructured
unstructured[pdf,xlsx]
waitress
whisper-ctranslate2

